.body {
  width: 100%;
  height: 1032px;
  background-color: #f1f1f1;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: /; */
}
.header {
  height: 64px;
  width: 100%;
  padding: 16px 16px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.header .leftImg {
  width: 180px;
  height: 34px;
}
.RightImg {
  border-radius: 50%;

  border: 1px solid black;
  color: black;
}
.power {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #046f5d;
  border-radius: 50%;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
}
.container {
  margin-top: 26px;
  width: 90%;
  height: 80%;
  padding: 25px 25px 0;
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  display: flex;
  flex-direction: column;
}
.topCon {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  /* margin-top: 40px; */
}
.topCon h1 {
  font-size: 20px;
  transform: scale(1, 1.05);
  margin-bottom: 26px;
  font-weight: 600;
}
.para {
  display: flex;
  font-size: 14px;
  margin: 20px 0px;
  font-weight: 550;
}
.nogoon {
  color: #2a6b59;
}
.boot {
  margin-bottom: 20px;
}
.bottomCon {
  margin-top: 68px;
  width: 100%;
  height: 48%;
  /* background-color: red; */
  background-color: #fafafa;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid rgba(0, 0, 0, 0.079);
  padding: 16px 20px 0;
}
.paraBot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  font-size: 12px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
.chev {
  color: rgb(158, 137, 18);
  margin-bottom: 20px;
}
.marbot {
  margin-bottom: 20px;
}
.nogoon2 {
  color: #046f5d;
  font-weight: 700;
}
.shar {
  color: rgb(158, 137, 18);
}
.pdf {
  color: red;
  font-size: 20px;
}
.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #046f5d;
  border-radius: 6px 6px 6px 6px;
  color: white;
}
.button1 p {
  margin-left: 12px;
}
.divid {
  display: flex;
}
.button1:hover {
  background-color: #329b7d;
}
.commonQ {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin: 40px 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.commonArrow {
  margin-right: 10px;
  color: rgb(158, 137, 18);
}
.security {
  margin-top: 20px;
  font-size: 12px;
}
.layer1 {
  display: flex;
  justify-content: center;
}
.layer2 {
  display: flex;
  justify-content: center;
}
.layer1 p {
  margin: 0 4px;
}

.layer2 p {
  margin: 0 4px;
}
